<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="scw-Patient.ZPM">
    <Module>
      <Description>Project for security contest 2021</Description>
      <Name>scw-Patient</Name>
      <Version>1.0.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="scw.PKG"/>
      <Invoke Class="scw.Patient" Method="AddTestData"></Invoke>

      <CSPApplication 
        Url="/scw"
        CSPZENEnabled="1"
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="0"
        UnauthenticatedEnabled="1"
        Recurse="1"
        UseCookies="2"
        CookiePath="/scw"
       />

    </Module>
    
  </Document>
</Export>